body {
  background-image: url('piqsels.com-id-jrrjt.jpg');
  background-color: #6ccfd4;
  background-blend-mode: lighten;
  background-repeat: round;
  background-attachment: fixed;
}
h1 {
  font-family: 'Abril Fatface', cursive;
}

.container {
  background-color: rgb(255,255,255);
  min-height: 100vh;
  padding-bottom: 10px;
}


#toggleClose,#toggleAction,#like,#remove-blog,#create,#addComment,#login-button{
  background-color: #02d1db;
  border-color: #02d1db;
}

a{
  color: #028f96

}
a:hover {
  color:#002e30
}
p{
  font-size: large;
}
#logout{
  border-color: transparent;
}

/*
.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}*/
